{% extends 'base.html' %}
{% load static %}
{% load cloudinary %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">{{ category.name }}</h1>
    
    <div class="row">
        {% for movie in movies %}
        <div class="col-6 col-sm-4 col-md-3 mb-3">
            <div class="card movie-card h-100">
                <a href="{% url 'movie_detail' movie.id %}" class="title-link">
                    {% cloudinary movie.poster class="card-img-top" alt=movie.title %}
                    <div class="card-body text-center">
                        <h5 class="card-title">{{ movie.title }}</h5>
                    </div>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}