{% extends "base.html" %}
{% load static %}
{% load cloudinary %}

{% block content %}

<div class="container my-4">
    <div class="row">
        <div class="col-12 text-center text-white mb-4">
            <h1 class="display-5">{{ playlist.title }}</h1>
        </div>
    </div>
    
    <div class="row gx-3 justify-content-center">
        {% for movie in movies %}
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
            <a href="{% url 'movie_detail' movie.id %}" class="text-decoration-none d-block">
                <div class="movie-card text-center h-100">
                    {% if movie.poster %}
                    <img src="{{ movie.poster.url }}" class="img-fluid rounded-top" alt="{{ movie.title }}">
                    {% else %}
                    <img src="{% static 'images/default-poster.jpg' %}" class="img-fluid rounded-top" alt="{{ movie.title }}">
                    {% endif %}
                    <div class="card-body py-2">
                        <p class="card-title m-0">{{ movie.title }}</p>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
